VITE_SANITY_PROJECT_ID=dp1evbtf
VITE_SANITY_API_TOKEN=sks0MCJCzIRs6o4wXYcYXU25sUTQPEMM7IbmmLhGIK3GUDYhCMaME5NbPiQrK0UvVGwpKXMYm7yDYhC7Nqu3pKoJxA3gWz9zINq0eswZaEc2IofI1Ae1xsn9eHLg64uXrDOvQSeVEdqhQcIizJlEU4XFfkQKWA9CguKAjKpsKrmhdEq07yfn
VITE_SANITY_DATASET=production
VITE_EMAILJS_SERVICE_ID=service_3ogyae6
VITE_EMAILJS_OWNER_TMPL=template_lgvwq7v
VITE_EMAILJS_PUBLIC_KEY=djTnEdOabg0GN4UdP
